{% extends "portal/portal.html" %}

{% block title %}
Company details
{% endblock %}

{% block content %}
    <table>
        <caption>{{ branch.name }} details</caption>
        {% for field, value in branch.get_fields %}
        <tr>
	        <td>{{ field }}:</td>
	        <td>{{ value }}</td>
        </tr>
        {% endfor %}  
    </table>
    
    <br />
    All subbranches:<br />
    <ul>
    {% for subbranch in subbranches %}
        <li><a href = "{% url core.views.company_detail subbranch.id %}">{{subbranch.name}}</a></li>
        {% empty %}
        <li> There is no subbranches </li>
    {% endfor %}  
    </ul>    
    <br />
    <form action="{% url core.views.company_detail branch.id %}" method="POST">
        {% csrf_token %}
        {{ form.message.errors }}
        {{ form }}
        <p><input type="submit" value="Submit"></p>
        
        <input type="text" required placeholder="test"/>
        <input type="tel"  placeholder="(555) 555-5555"
         pattern="^\(?\d{3}\)?[-\s]\d{3}[-\s]\d{4}.*?$" />      
    </form>
    
    <a href = "{% url core.views.company_users branch.id %}">{{branch.name}} users</a><br />
    
{% endblock %}
