{% extends "portal/portal.html" %}

{% block title %}
Company details
{% endblock %}

{% block content %}
    <table>
        <caption>{{ branch.name }} details</caption>
        <tr>
	        <td>Name:</th>
	        <td>{{ branch.name }}</th>
        </tr>
        <tr>
	        <td>Active:</th>
	        <td>{{ branch.is_active }}</th>
        </tr>
        <tr>
	        <td>Email:</th>
	        <td>{{ branch.email }}</th>
        </tr>
        <tr>
	        <td>Adress:</th>
	        <td>{{ branch.adress }}</th>
        </tr>
        <tr>
	        <td>Phone:</th>
	        <td>{{ branch.phone }}</th>
        </tr>
        <tr>
	        <td>IP:</th>
	        <td>{{ branch.external_IP }}</th>
        </tr>
        {% for field, value in branch.get_fields %}
        <tr>
	        <td>{{ field }}:</th>
	        <td>{{ value }}</th>
        </tr>
        {% endfor %}  
    </table>
    
    <br />
    All subbranches:<br />
    {% for subbranch in subbranches %}
        <a href = "/imones/details/{{subbranch.id}}">{{subbranch.name}}</a><br />
    {% endfor %}  
    <br />
    <form action="{% url core.views.company_detail branch.id %}" method="POST">
        {% csrf_token %}
        {{ form.message.errors }}
        {{ form }}
        <p><input type="submit" value="Submit"></p>
    </form>
    
{% endblock %}
