{% extends "base.html" %}

{% comment %} Main template {% endcomment %}

{% block head %}
    <title>HelpDesk | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/cssreset-min.css">
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
{% endblock %}

{% block body %}
    <header>
        <h1>HelpDesk</h1>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="{% url core.views.companies %}">companies</a></li>
                <li><a href="/logout/">logout</a></li>
            </ul>
        </nav>
    </header>
    
    <nav class="sub">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="{% url core.views.companies %}">companies</a></li>
            <li><a href="/">test2</a></li>
        </ul>
    </nav>
    
    <nav class="loc">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/">test</a></li>
            <li><a href="/">test2</a></li>
        </ul>
    </nav>
    
    <nav class="side">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/">test</a></li>
            <li><a href="/">test2</a></li>
        </ul>
    </nav>
    
    <hr />
    
    <section>
    {% block content %}
    {% endblock %}
    </section>

    <hr />
    <div style="clear: both;"></div>
    <footer>
        <span>&copy; 2012</span> 
        <span>HelpDesk | {{ active_user }}</span>
    </footer>
{% endblock %}
