html {  
    font-family: 'PT Sans', helvetica, sans-serif;
}  

a {
   text-decoration: none; 
}

h2 {
     font-weight: bold;
}

hr {
    display: none;
}

header, footer, aside, nav, article, section {  
    display: block;  
}  

body > header {
    height: 65px;
    background-color: orange;
    text-align: center;
    border-bottom: 1px solid #eee;
}

header > h1{
    display: block;
    float: left;
    width: 105px;
    height: 100%;
}

nav li {
    float: left;
    display: block;
    overflow: hidden;
    margin-left: 9px;
    text-align: center;
}

header nav li {
    width: 105px;
    height: 65px;
    line-height: 65px;
}

nav.sub {
    height: 25px;
    line-height: 25px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

nav.sub li {
    width: 105px;
}

nav.loc {
    font-size: 10px; 
    height: 15px;
    line-height: 15px;
    border-bottom: 1px solid #eee;
}

nav.loc li:before {
    content:">>";
    margin-right: 9px;
}

nav.side {
    padding-top: 25px;
    width: 105px;
    line-height: 25px;
    bottom: 0;
    float: left;
/*    min-height:445px;*/
/*    border-right: 1px solid #eee;*/
}

nav.side li {
    margin: 0;
    width: 105px;
    height: 25px;
}

section {
    min-width:720px;
    padding: 25px;
    margin-left: 105px;
    border-left: 1px solid #eee;
}

section > header {
    font-family: 'PT Sans Caption', helvetica, sans-serif;
}

caption {
    font-size: 1.2em;
    line-height: 2em;
}

footer {
    font-size: 10pt;
    height: 1.2em;
    border-top: 1px solid #eee;
}

/* HTML5 Form styles */
[required] {
    border-color: #88a;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 255, .5);
}

:invalid {
    border-color: #e88;
    -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, .8);
}

/* CSS selector for table 
 * http://slides.html5rocks.com/#css-selectors */
.row:nth-child(even) {
    background: #dde;
}
.row:nth-child(odd) {
    background: white;
}

table {
    border-collapse: collapse;
    padding: 20px;
    text-align: left;
    width: 100%;    
}

thead {
    font-weight: bold;
    border-bottom: 2px solid #eee;
}

tr.odd {
    background-color: #f3f3f3;
}

tr:hover {
    background-color: #e0e0e0;
}

td {
    padding: 5px;
    border-right: 2px solid white;
}

